.competence
{
    margin-top: 7vw;
    margin-left: 7vw;
}

.competence h1
{
    color: #4AC5B6;
    margin: 1vw;
}

.tech
{
    width: 18%;
    height: 16vw;
    background-color: #064b79;
    display: inline-block;
    margin-left: 1%;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(59, 56, 56), 0 3px 2px 0 rgb(86, 85, 85);
    margin-top: 2vw;
}

.tech:hover
{
    box-shadow: 0 2px 5px 0 white, 0 3px 2px 0 rgb(86, 85, 85);
    color: white;
}

.tech img
{
    width: 65%;
    height: 10vw;
}

.node
{
    height: 10vw;
}

footer
{
    width: 100%;
    margin-top: 5vw;
}

.section
{
    width: 49%;
    text-align: center;
    display: inline-block;
    color: white;
}

.section ul li
{
    list-style: none;
    line-height: 3vw
}

.xd
{
    width: 42%;
    height: 2vw;
    margin: 1%;
}

.objet
{
    width: 87%;
    height: 2vw;
}

.texte
{
    width: 87%;
    height: 9vw;
}

.section button
{
    width: 50%;
    height: 3vw;
    background-color: #064b79;
    color: white;
    border: 0;
    border-radius: 10px;
}

/* .section ul li img
{
    width: 4vw;
    height: 3vw;
    margin-right: 10vw;
}

.reso
{
    width: 50%;
}

.reso img
{
    float: left;
}

.reso p
{
    float: right;
} */


.blur3
{
  width: 12%;
  height: 10vw;
  background-image: linear-gradient(to top, rgb(34, 120, 211) ,rgb(38, 72, 221));
  flex-shrink: 0; 
  fill: #B64D20;
  filter: blur(62px); 
  float: right;
  margin-top: -20vw;
  animation-name: lumiere;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes lumiere {
    0%   {width: 12%;}
    20%  {width: 15%;}
    30%  {width: 18%;}
    50%  {width: 22%;}
    70%  {width: 18%;}
    100% {width: 15%;}
  }



.section {
    text-align: center;
  }
  
  .reso {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-left: 15vw;
  }
  
  .reso li {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .reso img {
    width: 3vw;
    height: 3vw;
    margin-right: 8px;
  }
  